    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Ingresar</h3>
                </div>
                <div class="card-body">
                    <form action="/signin" method="POST">
                    <img src="/img/OIP.jpg" class=" rounded-circle mx-auto d-block m-4 logo" width="150 px" height="150 px" alt="Logo proyecto">
                        <div class="form-group">
                            <input type="text" name="username" placeholder="Nombre de Usuario" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" placeholder="Constraseña" class="form-control">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Ingresar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
